<div class="profile">
  <div class="profile-head-content">
    <div class="profile-head-content-picture">
      <img src="{{imageURL}}" alt="Picture of student" id="profile-image">
    </div>
    <div class="profile-head-content-text">
      <h4>{{name}}</h4>
      <p class="text-secondary mb-1">{{zoomURL}}</p>
      <p class="text-muted font-size-sm">{{city}}</p>
      <p class=""
      <i class="fas fa-envelope-open-text"></i> <span class="email">{{email}}</span>
    </div>
  </div>
  <div class="profile-side-content">
  </i><h4>Education: </h4><span class="education">{{education}}</span>
      <hr></hr>
      <h4>Work Experience: </h4><span class="experience">{{experience}}</span>
      <hr></hr>
      <h4>Quality Rating: </h4><span class="rating"></span>
      <hr></hr>
      <h4>Hourly Rate: </h4><span class="price">{{hourlyRate}}</span>
  </div>
</div>
